* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.inicial {
    height: 1050px;
}

.div-posts {
    height: 100%;
}

.users-nav {
    height: 1050px;
}

.post {
    background-color: #ffd700;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.name {
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.vm {
    width: 200px;
}

.risco {
    border-right: solid 2px black;    
}